In [139]:
import numpy as np
import pandas as pd
import math

from __future__ import division
df = pd.read_csv("/Users/earleaguilar/git/school/cs145/CS145_HW1/HW1_Programming/DecisionTree/house-votes-84.data", header = None)
df2 = pd.read_csv("/Users/earleaguilar/git/school/cs145/CS145_HW1/HW1_Programming/DecisionTree/tic-tac-toe.data", header = None)

In [126]:
df[range(1,17)].apply(pd.value_counts).fillna(0)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
?,12,48,11,11,15,11,14,15,22,7,21,31,25,17,28,104
n,236,192,171,247,208,152,182,178,206,212,264,233,201,170,233,62
y,187,195,253,177,212,272,239,242,207,216,150,171,209,248,174,269

In [ ]:
vals = df[0].value_counts()
total = vals[0] + vals[1]
entropy = vals[0]/total * math.log(vals[0]/total,2) + vals[1]*math.log(vals[1]/total,2)