In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
# Pandas allows for multiple index levels

ser = Series(randn(6), 
             index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -1.856908
   b   -0.994362
   c   -0.849176
2  a   -0.482220
   b    0.971616
   c   -0.628053
dtype: float64

In [4]:
# If we want to determine number of levels
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
# IF we want a subset
ser[1]

a   -1.856908
b   -0.994362
c   -0.849176
dtype: float64

In [6]:
ser[2]

a   -0.482220
b    0.971616
c   -0.628053
dtype: float64

In [7]:
# How about accessing similar inner indices
ser[:, 'a']

1   -1.856908
2   -0.482220
dtype: float64

In [9]:
# Can create from a series of multiple levels
# Lower index levels will be columns and higher
# ones will be rows
dframe = ser.unstack()
dframe

          a         b         c
1 -1.856908 -0.994362 -0.849176
2 -0.482220  0.971616 -0.628053

In [10]:
# Multiple level indexing for df

dframe2 = DataFrame(np.arange(16).reshape((4,4)),
                   index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],
                            ['cold','cold','hot','cold']])
dframe2

      NY       LA   SF
    cold cold hot cold
a 1    0    1   2    3
  2    4    5   6    7
b 1    8    9  10   11
  2   12   13  14   15

In [13]:
# We can name index levels
dframe2.index.names = ['Index_1','Index_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY       LA   SF
Temp            cold cold hot cold
Index_1 Index_2
a       1          0    1   2    3
        2          4    5   6    7
b       1          8    9  10   11
        2         12   13  14   15

In [14]:
# We can interchange the level orders 
dframe2.swaplevel('Cities', 'Temp', axis=1 )
dframe2

Cities            NY       LA   SF
Temp            cold cold hot cold
Index_1 Index_2
a       1          0    1   2    3
        2          4    5   6    7
b       1          8    9  10   11
        2         12   13  14   15

In [32]:
# We can sort levels 

# dframe2.sortlevel(1)
# or
dframe2.sort_index(level=1)

Cities            NY       LA   SF
Temp            cold cold hot cold
Index_1 Index_2
a       1          0    1   2    3
b       1          8    9  10   11
a       2          4    5   6    7
b       2         12   13  14   15

In [33]:
dframe2.sort_index(level=0)

Cities            NY       LA   SF
Temp            cold cold hot cold
Index_1 Index_2
a       1          0    1   2    3
        2          4    5   6    7
b       1          8    9  10   11
        2         12   13  14   15

In [34]:
# We can perform opperations on particular levels
# 
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
Index_1 Index_2
a       1           4    2
        2          16    6
b       1          28   10
        2          40   14