In [1]:
import numpy as np 
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
# If there are no values for the new indices then python makes them 
# into NaN

ser2 = ser1.reindex(['A','B','C','D', 'E', 'F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
# We can fill in values for new indixes
ser2.reindex(['A','B','C','D', 'E', 'F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
# Using a particular method for filling values

ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
# Can use a forward fill for interpilating values in between

ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
# Reindexing rows, columns, or both

# We create a DataFrame intentionally leaving 'C' out
dframe = DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -0.928932  0.277753  0.218514 -0.812180 -0.163827
B  0.591075 -0.159543  0.505039 -1.121369 -0.004659
D -0.380166  2.256781 -0.777775 -0.080757  0.495711
E -1.176505 -0.115268 -0.514640  1.274828 -0.559558
F  0.400368 -1.480514 -1.237784 -0.644343 -1.336924

In [15]:
# Lets reindex C back into the DF

dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [17]:
# Explicitly reindex columns

new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.928932  0.277753  0.218514 -0.812180 -0.163827   NaN
B  0.591075 -0.159543  0.505039 -1.121369 -0.004659   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.380166  2.256781 -0.777775 -0.080757  0.495711   NaN
E -1.176505 -0.115268 -0.514640  1.274828 -0.559558   NaN
F  0.400368 -1.480514 -1.237784 -0.644343 -1.336924   NaN

In [19]:
# We can also reindex quitckly using the label-indexing with ic

dframe.loc[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.928932  0.277753  0.218514 -0.812180 -0.163827   NaN
B  0.591075 -0.159543  0.505039 -1.121369 -0.004659   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.380166  2.256781 -0.777775 -0.080757  0.495711   NaN
E -1.176505 -0.115268 -0.514640  1.274828 -0.559558   NaN
F  0.400368 -1.480514 -1.237784 -0.644343 -1.336924   NaN