In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
xlsfile = pd.ExcelFile('/Users/earleaguilar/summer17/lecture28_excel.xlsx')

In [3]:
dframe = xlsfile.parse('Sheet1')

In [4]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0               1           2           3
1               4           5           6
2               6           7           8
3               5           6           8
4               6           7           8